fastapi
uvicorn
pydantic
langchain-core
langchain-community
langchain-text-splitters
langchain == 0.0.154
langchain-huggingface
python-dotenv
requests
beautifulsoup4
sentence-transformers
faiss-cpu
streamlit
google.generativeai
playwright