fastapi
uvicorn
pydantic
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters
langchain
langchain-huggingface
python-dotenv
requests
beautifulsoup4
sentence-transformers
faiss-cpu
streamlit